.game-container {
  width: 80%;
  height: 100vh;
  margin: auto;
  border: 2px solid red;
}

.background-container {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
.road-container {
  position: relative;
  width: 550px;
  height: 100vh;
  margin: auto;
  border: 2px solid orange;

  background-image: url("../images/road.png");
  background-repeat: repeat;
  background-position: left;
  background-size: 200px;
  animation: animate-road 2s infinite normal forwards;
  animation-timing-function: linear;
  overflow: hidden;
}

@keyframes animate-road {
  0% {
    background-position: 18% 0;
  }
  100% {
    background-position: 18% 100%;
  }
}
